.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  body {
    margin: 0px;
    padding: 0;
}

.header {
    /* height: 1450px;  */
    /* Adjust height as needed */
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.8); Light white background */
    /* padding: 2%; */
    border-radius: 10px;
    max-width: 800px; /* Adjust max-width as needed */
}

.center-image {
  margin-top: 30px;
    max-width: 100%;
    /* height: auto; */
}

.center-heading {
    font-size: 2.5rem;
    margin-top: 10px;
    color: black; /* Change heading color to black */
}

.center-paragraph {
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 20px;
    color: black; /* Change paragraph color to black */
}

.center-button {
  font-size: 1rem;
  padding: 20px 40px;
  background-color: black; /* Set button background color to black */
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensure button behaves as block */
}

.center-button:hover {
  background-color: #3b2b2b; /* Darken button on hover */
}

.center-text {
    font-size: 1.5rem;
    text-align: center;
}

.container1 {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
  background-color: #ffffff; /* PROBLEM IS HERE*/
  /* box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.1); */
  margin-left: 150px;
  margin-right: 150px;
}

.niji {
  background-color: rgba(13, 19, 33, 0.02); /* 2% opacity of #0D1321 */
}

.row {
  display: flex;
  /* align-items: center; */
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #ffffff;
 
}

.text {
  margin-left: 30px;
  flex: 1;
  padding-right: 50px;
  margin-bottom: 20px;
}

.faise{
  margin-left: 50px;
}

.text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.text p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.text button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: white; /* White background */
  color: black; /* Black text color */
  border: 2px solid black; /* Black border */
  border-radius: 1px;
  /* cursor: pointer; */
  /* transition: background-color 0.3s, color 0.3s; */
}

.text button:hover {
  /* background-color: black; Black background on hover */
  color: white; /* White text color on hover */
}
.image {
  flex: 1;
  padding-left: 30px;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}



.container2 {
  text-align: center;
}

.content {
  margin-bottom: 20px;
}

.content h1 {
  font-size: 2.5rem;
}

.content p {
  font-size: 1.2rem;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.video {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc; /* Add a 1px border on all sides */
  border-radius: 10px; /* Add border radius to the container */
  padding: 20px; /* Equal padding on all sides */
  /* box-sizing: border-box; Include padding and border in the element's total width and height */
}

.video iframe {
  border-radius: 10px; /* Add border radius to the YouTube video */
}


.container3 {
  margin-top: 30px;
  /* text-align: center; */
  max-width: 1200px;
  padding: 20px;
}

.main-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.columns {
  padding: 20px;
  margin-left: 200px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.column {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.column-1 {
  background-color: rgba(255, 76, 30, 0.05); /* 5% opacity */
}

.column-2 {
  background-color: rgba(0, 93, 232, 0.05); /* 5% opacity */
}

.column-3 {
  background-color: rgba(255, 223, 0, 0.05); /* 5% opacity */
}

.column img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.column h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.column p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.column a {
  font-size: 1rem;
  color: black;
  text-decoration: underline;
  transition: color 0.3s;
}

.column a:hover {
  color: black;
  text-decoration: underline;
}


.head1{
    margin: 0;
    padding: 0;
    background-image: url('../images/handshake.jpg');
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7); /* Light white background */
  padding: 20px;
  margin-right: 200px;
  margin-left: 200px;
  border-radius: 20px;
  margin-bottom: 100px;
}

.content4 {
  color: #ffffff; /* White text color */
}

.content4 h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content4 p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*input[type="text"] {
  padding: 20px;
  font-size: 2rem;
  border: none;
  border-radius: 5px 0 0 5px;
}
*/

.input-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
   width: 70%; /*Ensure the container is 50% of the page width */
}

input[type="text"] {
  height: 54px;
  border-radius: 5px 5px 5px 5px; /* Only round the left corners */
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  flex: 1;
  box-sizing: border-box;
  margin-left: 200px;
  margin-right: 5px; /* Small gap between the input and button */
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: white; /* Change button background to white */
  color: black; /* Change text color to black */
  border: 1px solid #ccc; /* Match input field border */
  border-radius: 5px 5px 5px 5px; /* Only round the right corners */
  height: 54px; /* Match input field height */
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e0e0e0; /* Light grey background on hover */
}


.bg-se{
  background-color: rgba(13, 19, 33, 0.03); 
}

footer {
  /* background-color: #fff; Change background color to white */
/* 3% opacity of #0D1321 */
 
  /* color: #333; Default text color to a darker shade */
  padding: 10px;
  text-align: center;
  /* margin-left: 150px;
  margin-right: 150px; */
  border-top: 0px solid #ccc; /* Optional: Add a border at the top for separation */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  flex: 1; /* Takes up remaining space */
  text-align: left;
  margin-left: 200px;
  color: #000; /* Change title font color to black */
  margin: 0 100px; /* Add margin for spacing */
}

.footer-icons {
  flex: 1; /* Takes up remaining space */
  text-align: right;
  margin: 0 100px; /* Add margin for spacing */
}

.footer-icons a {
  display: inline-block;
  margin-left: 30px; /* Adjust margin as needed */
}

.footer-icons img {
  width: 30px; /* Adjust icon size as needed */
  height: 30px;
  vertical-align: middle;
}