.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.header{
  height: 1450px;

  background-image: url('../images/Hero-bg.png');
  background-repeat: no-repeat;
  /* width: 100%; */
  /* background-position: center;
  background-size: cover; */
}

.container {
  text-align: center;
}

.center-image {
  margin-top: 100px;
  max-width: 100%;
  height: auto;
}

.center-heading {
  font-size: 2.5rem;
  margin-top: 20px;
}

.center-paragraph {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.center-button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.center-button:hover {
  background-color: #0056b3;
}

.center-text {
  font-size: 1.5rem;
}

.container1 {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.text {
  flex: 1;
  padding-right: 20px;
}

.text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.text p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.text button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.text button:hover {
  background-color: #0056b3;
}

.image {
  flex: 1;
  padding-left: 20px;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}